.iti.iti--container {
    top: 122px !important;
}
.iti__country-list li {
    -webkit-user-select: none;
    -moz-user-select: none;
}

#search-country {
    display: none;
    padding-left: 12px;
    width: 270px;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #CCC;
    left: -1px;
    height: 40px;
}

#search-country::placeholder {
    color: #ccc;
}

.iti__selected-flag {
    width: fit-content;
}
